
@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<section>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <h3>Form</h3>
    @if (TempData["message"] != null)
    {
        <p>@TempData["message"]</p>
    }
    <form method="post" asp-controller="Auth" asp-action="Login">
        <div class="row gtr-uniform">
            <div class="col-6 col-12-xsmall">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" type="text" value="" placeholder="Kullanıcı Adı" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="col-6 col-12-xsmall">
                <label asp-for="Password"></label>
                <input asp-for="Password" type="password" placeholder="Şifre" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>



            <div class="col-12">
                <ul class="actions">
                    <li><input type="submit" value="Giriş Yap" /></li>

                </ul>
            </div>
        </div>
    </form>
    <ul>
        <li>
            <a asp-controller="Auth" asp-action="Register" class="button large">Üye Ol</a>
        </li>
    </ul>
</section>