
@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<link href="~/css/auth.css" rel="stylesheet" />

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="fadeIn first">
            <img src="https://www.kindpng.com/picc/m/24-248394_user-icon-hd-png-download.png" id="icon" alt="User Icon" />
            <br />
            <h2 style="margin:0px;">Log In</h2>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <!-- Login Form -->
        <form method="post" asp-controller="Auth" asp-action="Login">
            <input asp-for="UserName" class="fadeIn second" placeholder="login">
            <br />
            <span asp-validation-for="UserName" class="text-danger"></span>
            <input asp-for="Password" class="fadeIn third" placeholder="password">
            <br />
            <span asp-validation-for="Password" class="text-danger"></span>
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>

        <!-- Register? -->
        <div id="formFooter">
            <a class="underlineHover" asp-controller="Auth" asp-action="Register">Register?</a>
        </div>

    </div>
</div>
