@model RegisterViewModel

@{
    ViewData["Title"] = "Kayıt Ol";
}

<section>
    <h3>Form</h3>
    <form method="post" asp-controller="Auth" asp-action="Register">
        <div class="row gtr-uniform">
            <div class="col-6 col-12-xsmall">
                <input type="text" name="demo-name" id="demo-name" value="" placeholder="Name" />
            </div>
            <div class="col-6 col-12-xsmall">
                <input type="email" name="demo-email" id="demo-email" value="" placeholder="Email" />
            </div>



            <div class="col-12">
                <ul class="actions">
                    <li><input type="submit" value="Send Message" /></li>
                    
                </ul>
            </div>
        </div>
    </form>
</section>